# Copyright 2026 上海如静知华信息科技有限公司 · https://www.zhuatech.cn/
MYSQL_DATABASE=zhuatech_promptops
MYSQL_USER=zhuatech
MYSQL_PASSWORD=replace_for_local_use
MYSQL_ROOT_PASSWORD=replace_for_local_use
APP_ADMIN_PASSWORD=replace_for_local_use
APP_AUDITOR_PASSWORD=replace_for_local_use
WEB_PORT=8091
